#contact {
    height: calc(100vh - 4rem);
    width: 100vw;
    /* max-width: 60rem; */
    margin: 1rem auto;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
.contactTitle {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 600;
}

.contactDesc {
    padding: 1rem;
    font-size: small;
    font-weight: 300;
    letter-spacing: 1px;
}

.contactForm {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.50rem 0;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 300;
    border: none;
    border-radius:  0.50rem;
    background: rgb(40, 40, 40);
    outline: none;
}

.submitBtn {
    background: wheat;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin: 2rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.links {
    display: flex;
    /* flex-wrap: wrap; */
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
    cursor: pointer;
}